* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "DM Serif Display", serif;
	font-style: normal;
	color: #333333;
}
header {
	font-family: "Inter", sans-serif;
	font-size: 12px;
	color: #ddd;
	margin: 0 0 14px 0;
}
header h1 {
	color: #ddd;
	transition: .5s;
}
header h1:hover {
	color: #0050FF;
	cursor: pointer;
}
#content {
	width: 40vw;
	margin: 10vw auto;
}
.container p {
	font-size: 25px;
	line-height: 30px;
}
.faq-container {
    margin: 50px auto;
	font-family: "Inter", sans-serif;
	font-weight: 300;
}
.faq-item {
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question {
    padding: 18px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.faq-icon {
    font-size: 22px;
    width: 20px;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0 20px;
}

.faq-answer p {
    margin: 15px 0;
}