* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Inter", sans-serif;
	font-style: normal;
	color: #333333;
}
header {
	font-family: "Inter", sans-serif;
	color: #ddd;
	margin: 0 0 14px 0;
}
header h1 {
	color: #eee;
	transition: .5s;
	font-size: clamp(24px, 15vw, 146px);
	white-space: nowrap;
}
header h1:hover {
	color: #333333;
	cursor: pointer;
}
#content {
	width: 40vw;
	margin: 4vw auto;
}
.container p {
	font-size: 20px;
	line-height: 25px;
}
.faq-container {
    margin: 50px auto;
	font-family: "Inter", sans-serif;
}
.faq-container h2 {
	margin: 0 0 10px 0;
	font-weight: normal;
}
.faq-item {
    margin-bottom: 10px;
    overflow: hidden;
    border-top: 1px solid #333;
}
.faq-item h3 {
	font-weight: normal;
}
.faq-item:last-child {
	border-bottom: 1px solid #333;
}
.faq-question {
    padding: 18px 0 18px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.faq-icon {
    font-size: 22px;
    width: 20px;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0px;
}

.faq-answer p {
    margin: 15px 0;
}
@media only screen and (max-width: 600px) {
	#content {
		width: 90%;
	}
}